<h1>Profile for <%=current_user.username %></h1>



<%= image_tag(current_user.profile_image, style:"height: 200px; border-radius: 50%;")%>

<ul>
    <%= render collection: @profile.posts, partial: "posts/post"%>
</ul>

<%= link_to "Back", root_path, class:"btn btn-secondary btn-sm" %>
