<div class="container">
    <h1>Welcome</h1>
    <p>See what's happening in the world right now</p>
    <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
    <%= link_to 'Sign in', login_path, class: "btn btn-secondary" %>
</div>