
<div class="card mb-3 border border-secondary">
    <div class="card-body">
        <p class="card-header text-muted fw-lighter">@<%= post.user_id %></p>
        <p class="card-text"><%= post.body %></p>
    </div>
</div>
