
<div>
    <div>
        <p class="text-muted fw-lighter">
        <%= image_tag 'https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/13/1490989105-twitter1.jpg?resize=768:*', style:"height: 30px; border-radius: 50%; padding-right: 5px;"%>
        @<%= post.user.username %></p>
        <p><%= post.body %></p>
        <hr>
    </div>
</div>
